<div class="haiku">
  <%= simple_format haiku.content %>
  <em>
    -- <%= haiku.user.name %>
    | <%= pluralize haiku.reputation_value_for(:votes).to_i, "vote" %>
    <% if current_user && !current_user.voted_for?(haiku) %>
      | <%= link_to "up", vote_haiku_path(haiku, type: "up"), method: "post" %>
      | <%= link_to "down", vote_haiku_path(haiku, type: "down"), method: "post" %>
    <% end %>
  </em>
</div>
